In [73]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

from pandas.plotting import scatter_matrix
%matplotlib inline

import seaborn as sns
sns.set(style="white",color_codes=True)
sns.set(font_scale=1.5)

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn import metrics

In [110]:
df_train = pd.read_csv("train.csv")
df_train.shape

(891, 12)

In [111]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [112]:
df_train = df_train.drop(['Cabin','Name','PassengerId'],axis=1)
df_train.head

<bound method NDFrame.head of      Survived  Pclass     Sex   Age  SibSp  Parch            Ticket     Fare  \
0           0       3    male  22.0      1      0         A/5 21171   7.2500
1           1       1  female  38.0      1      0          PC 17599  71.2833
2           1       3  female  26.0      0      0  STON/O2. 3101282   7.9250
3           1       1  female  35.0      1      0            113803  53.1000
4           0       3    male  35.0      0      0            373450   8.0500
..        ...     ...     ...   ...    ...    ...               ...      ...
886         0       2    male  27.0      0      0            211536  13.0000
887         1       1  female  19.0      0      0            112053  30.0000
888         0       3  female   NaN      1      2        W./C. 6607  23.4500
889         1       1    male  26.0      0      0            111369  30.0000
890         0       3    male  32.0      0      0            370376   7.7500

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 9 columns]>

In [113]:
df_train.groupby(['Pclass']).mean()

        Survived        Age     SibSp     Parch       Fare
Pclass
1       0.629630  38.233441  0.416667  0.356481  84.154687
2       0.472826  29.877630  0.402174  0.380435  20.662183
3       0.242363  25.140620  0.615071  0.393075  13.675550

In [114]:
def averageage(cols) :
  Age = cols[0]
  PClass = cols[1]

  if(pd.isnull(Age)):
    if(PClass == 1):
      return 38
    elif(PClass ==2):
      return 29
    else:
      return 24
  else:
      return Age

In [115]:
df_train['Age'] = df_train[['Age','Pclass']].apply(averageage,axis=1)

In [118]:
df_train.dropna(inplace=True)
df_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [120]:
df_train.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [121]:
df_train_dummied = pd.get_dummies(df_train,columns=["Sex"])

In [122]:
df_train_dummied = pd.get_dummies(df_train_dummied,columns=["Embarked"])

In [123]:
df_train_dummied.head(10)

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,1,0,0,1
5,0,3,24.0,0,0,8.4583,0,1,0,1,0
6,0,1,54.0,0,0,51.8625,0,1,0,0,1
7,0,3,2.0,3,1,21.0750,0,1,0,0,1
8,1,3,27.0,0,2,11.1333,1,0,0,0,1
9,1,2,14.0,1,0,30.0708,1,0,1,0,0

In [124]:
X = df_train_dummied.iloc[:,1:]
Y = df_train_dummied.iloc[:,0]

In [125]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [126]:
logreg = LogisticRegression()

In [128]:
logreg.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [129]:
y_pred = logreg.predict(x_test)

In [130]:
metrics.confusion_matrix(y_test,y_pred)
metrics.accuracy_score(y_test,y_pred)

0.8314606741573034

In [131]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.86      0.86       166
           1       0.77      0.78      0.78       101

    accuracy                           0.83       267
   macro avg       0.82      0.82      0.82       267
weighted avg       0.83      0.83      0.83       267